.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  width: 670px;
  height: 415px;
  background-color: #F2F2F2;
  border-radius: 0 0 250px 0;
  padding: 60px 50px;
}

.content__wrap {
  width: 624px;
  height: 400px;
  margin: 0 auto;
}

.content__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #333;
}

/* Проверить, почему не применяется */
.content__title_big {
  color: #437223;
}

.content__text{
  font-family: var(--font3);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #333;
}