body {
  background-image: url('./assets/images/New_Dentistry_plant_background-6949598.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-basic);
}

/* .container {
  display: flex;
} */

.content {
  display: flex;
  flex-direction: column;
  width: 670px;
  height: 28rem;
  background-color: var(--color-background);
  padding: 15px 60px;
  
}

.content__wrap {
  width: 40rem;
  height: 28rem;
  margin: 0 auto;
  
}

.content__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: var(--color-content-text);
}

.content__title_big {
  color: var(--color-button);
}

.content__text {
  width: 421px;
  height: 70px;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-content-text);
  border: 1.5px solid var(--color-content-text);
  border-radius: 12px;
  backdrop-filter: blur(32px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0 0.8em;
}

.image {
  display: flex;
  width: 765px;
  height: 535px;
}

.background-image {
  width: 100%;
  height: auto;
}